<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/web.css">
  <title>{{ title | default: "Home"}} | Static Site Course</title>


  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet" />


  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <script src='https://unpkg.com/turbolinks@5.2.0/dist/turbolinks.js'></script>

</head>
<body>
  <nav class="main">
    <a href="/">Home</a>
    <a href="/README/">Content</a>
    <!-- <a data-netlify-identity-button></a> -->
  </nav>
  <main>

    <h1>{{ title }}</h1>

    {{ content }}

    <hr>

    <h2>Comments</h2>

    <script src="https://utteranc.es/client.js"
        repo="makzan/Beginning-11ty-and-Netlify-Static-Site-Course"
        issue-term="pathname"
        label="Comment"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
    </script>


  </main>

  <script src='https://unpkg.com/prismjs@1.20.0/prism.js'></script>

  <!-- Dashly BEGIN -->
  <script type="text/javascript">
  !function(){function t(t,e){return function(){window.dashlyasync.push(t,arguments)}}if("undefined"==typeof dashly){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//cdn.dashly.app/api.min.js",document.getElementsByTagName("head")[0].appendChild(e),window.dashly={},window.dashlyasync=[],dashly.settings={};for(var n=["connect","track","identify","auth","oth","onReady","addCallback","removeCallback","trackMessageInteraction"],a=0;a<n.length;a++)dashly[n[a]]=t(n[a])}}(),dashly.connect("2957-0d6e93cc540268df82793f5bfc2");

  dashly.messenger.toStateCollapsed()
  </script>
  <!-- Dashly END -->
</body>